<!-- <div class="member-form">
  <form class="login100-form validate-form form" [formGroup]="userForm" (ngSubmit)="addUser()" autocomplete="off">
    <div class="wrap-input100 validate-input m-b-26 form-group">
      <span class="label-input100">Email</span>
      <input class="input100" type="text" placeholder="Enter Email address" formControlName="email">
      <span class="focus-input100"></span>
    </div>
    <div *ngIf="userForm.controls['email'].errors && (userForm.touched || userForm.dirty)" class="error">
      <div *ngIf="userForm.controls['email'].errors.required">Email address is required</div>
    </div>
    <div *ngIf="userForm.controls['email'].errors?.pattern" class="error">
        Employee ID not valid
    </div>

    <div class="wrap-input100 validate-input m-b-18 form-group">
      <span class="label-input100">Password</span>
      <input class="input100" type="text" name="pass" placeholder="Enter Password" formControlName="name">
      <span class="focus-input100"></span>
    </div>
    <div *ngIf="userForm.controls['name'].errors && (userForm.touched || userForm.dirty)" class="error">
      <div *ngIf="userForm.controls['name'].errors.required">Password is required</div>
    </div>
    <div class="container-login100-form-btn">
      <button type="submit" class="login100-form-btn">
        Submit
      </button>
    </div>
  </form>
</div> -->

<!-- Form with the card Design -->
<mat-card class="card-layout">
  <div class="member-form">
    <form class="login100-form validate-form form" [formGroup]="userForm" (ngSubmit)="addUser()" autocomplete="off">
      <mat-form-field appearance="outline" class="wrap-input100 validate-input m-b-26 form-group">
        <mat-label class="label-input100">Email</mat-label>
        <input matInput class="input100" type="email" placeholder="Enter Email address" formControlName="email">
      </mat-form-field>
      <mat-error *ngIf="userForm.controls['email'].errors && (userForm.get('email').touched || userForm.get('email').dirty)" class="error">
        <div *ngIf="userForm.controls['email'].errors.required">Email address is required</div>
      </mat-error>
      <mat-error *ngIf="userForm.controls['email'].errors?.pattern" class="error">
          Employee ID not valid
      </mat-error>
  
      <mat-form-field  appearance="outline" class="wrap-input100 validate-input m-b-26 form-group">
        <mat-label class="label-input100">Password</mat-label>
        <input matInput class="input100" type="password" placeholder="Enter Password" formControlName="password">
      </mat-form-field>
      <mat-error *ngIf="userForm.controls['password'].errors && (userForm.get('password').touched || userForm.get('password').dirty)" class="error">
        <div *ngIf="userForm.controls['password'].errors.required">Password is required</div>
      </mat-error>
      <div class="container-login100-form-btn">
          <button mat-raised-button type="reset" class="login100-form-btn">
              Cancel
            </button>
        <button mat-raised-button type="submit" class="login100-form-btn">
          Submit
        </button>
      </div>
    </form>
  </div>
</mat-card>