mat-card.mat-card {
    width: 96%;
    margin: auto;
}

mat-icon.mat-icon.notranslate.mat-list-icon.material-icons.mat-icon-no-color {
    width: 35px;
    height: 45px;
    font-size: 35px;
}

mat-card-title.mat-card-title {
    margin-top: 8px;
}